/* Bookmarks toolbar color */

#navigator-toolbox,
#personal-bookmarks,
#navigator-toolbox,
#bookmarksMenu,
.browser-toolbar,
.tab-stack {
    background-color: #000000 !important
}


/* One line navigator */

#TabsToolbar {
    background-color: #000000 !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 20vw !important;
    max-height: 35px !important;
    height: 30px !important;
}

#nav-bar {
    margin-top: -30px !important;
    margin-left: 15px !important;
    margin-right: 80vw !important;
    height: 30px;
    background-color: #000000 !important;
}


/* Tab line color */

.tab-line {
    height: 1px !important;
    background-color: #ff0000 !important;
}


/* Resize tab */

.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 170px !important;
}


/* Tab background color */

.tab-background[selected="true"] {
    background-color: #000000 !important;
    background-image: none !important;
}


/* hide line at the bottom of tabbar */

#urlbar-container,
#search-container {
    padding-block: 0px !important;
    margin-inline: 0px !important;
}


/* Tab border remover */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border-left: none !important;
}


/* URLBAR */

#urlbar,
#urlbar[focused="true"],
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
    background: #000000 !important;
    color: white !important;
    padding: 0 0px !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: 0 0 0 !important;
    border: 0 solid transparent !important;
    height: 30px !important;
    -moz-appearance: none;
    margin: 0px 0px !important;
    cursor: default;
}

#urlbar-container,
#search-container {
    padding-block: 0px !important;
    margin-inline: 0px !important;
}


/* HIDE VARIOUS ELEMENTS */

#personal-bookmarks .bookmark-item>.toolbarbutton-icon,
#PlacesChevron,
#urlbar-page-action,
#PanelUI-button,
#minimize-button,
#restore-button,
#close-button,
#appMenu-fxa-container,
#appMenu-fxa-container+toolbarseparator,
#appMenuRestoreLastSession,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-customize-button,
#appMenu-customize-button+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#urlbar-zoom-button,
#pocket-button-box,
#back-button,
#forward-button,
#reload-button,
#stop-button,
#stop-reload-button,
#ar-button,
.autocomplete-history-dropmarker,
#identity-icon-labels,
#identity-icon,
.urlbar-go-button,
#sidebar-button,
.tabs-newtab-button.toolbarbutton-1,
#new-tab-button,
#pageActionSeparator,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional,
.titlebar-buttonbox-container,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional .titlebar-buttonbox-container,
.urlbar-page-action,
#tracking-protection-icon-container,
#star-button-box,
#reader-mode-button,
#pageActionSeparator,
#pageActionButton,
#pocket-button-box,
.autocomplete-history-dropmarker,
#identity-box,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional,
#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
#identity-icon-labels,
.titlebar-spacer,
#urlbar-go-button,
.tab-icon-image,
.tab-icon-overlay,
.tab-icon-pending,
.tab-close-button,
.tab-drop-indicator,
.tab-drop-indicator-box {
    display: none !important;
}
